@page "/"

@using MyInvestCompanies;
@using MyInvestCompanies.модель_данных;

@code 
{
    [Parameter]
    public string query_string  { get; set;} = "";
    
    public string Company_id    { get; set ; } = "";
    
    public string __DATE_MASK = "yyyy-MM-dd";

}


@{
    void ShowRowEditor_company(Company c)
    {

        List<string> NameX = new List<string>();
        NameX.Add("Name");

        string table = "Companies";
        <!--  @onmouseover="(e=> { Company_id = c.Id; } -->
        <div class="Editor">

            <input type="text" value="@c.Name" @onfocus="(e=> { Company_id = c.Id; })" @onclick="(e=> { Company_id = c.Id; })" @onchange="(e=>  { Set_value(NameX[0], c.Id.ToString(), e.Value.ToString() , e, null, table );  })" />
            
             @{
                 NameX.Add("Founded");
                 string tmp_date = c.Founded.Date.ToUniversalTime().ToString(__DATE_MASK);
                }

            <input type=date value="@tmp_date" @onfocus="(e=> { Company_id = c.Id; })" @onclick="(e=> { Company_id = c.Id; })" @onchange="(e=> {  Set_value(NameX[1], c.Id.ToString(), e.Value.ToString() , e,null, table); })" />
            @{NameX.Add("Address");}
            <input type="text" value="@c.Address" @onfocus="(e=> { Company_id = c.Id; })" @onclick="(e=> { Company_id = c.Id; })" @onchange="(e=> {  Set_value(NameX[2], c.Id.ToString(), e.Value.ToString() , e, null , table); })" />
            @{NameX.Add("Fact_Address"); }
            <input type="text" value="@c.Fact_Address" @onfocus="(e=> { Company_id = c.Id; })" @onclick="(e=> { Company_id = c.Id; })" @onchange="(e=> {  Set_value(NameX[3], c.Id.ToString(), e.Value.ToString() , e, null,table);  })" />
            @{NameX.Add("Description"); }
            <input type="text" value="@c.Description" @onfocus="(e=> { Company_id = c.Id; })" @onclick="(e=> { Company_id = c.Id; })" @onchange="(e=> {  Set_value(NameX[4], c.Id.ToString(), e.Value.ToString() , e, null, table);  })" />
            @{NameX.Add("Inn"); }
            <input type="number" value="@c.Inn" @onfocus="(e=> { Company_id = c.Id; })" @onclick="(e=> { Company_id = c.Id; })" @onchange="(e=> {  Set_value(NameX[5], c.Id.ToString(), e.Value.ToString() , e, null, table);  })" />
            @{NameX.Add("KPP"); }
            <input type="number" value="@c.KPP" @onfocus="(e=> { Company_id = c.Id; })" @onclick="(e=> { Company_id = c.Id; })" @onchange="(e=> {  Set_value(NameX[6], c.Id.ToString(), e.Value.ToString() , e, null , table );  })" />
            <button  class="delete_button" title="Удалить запись @c.Name @c.Address" @onclick="(e=> {Delete_company(c.Id.ToString(), null) ;} )">-</button>
        </div>
    }

    /// Показывает связи
    void Show_Linx (string company_id)
    {
        Database_structure ds = new Database_structure();
        string id = company_id;
        //спиоск связей
        List<Link> links =  ds.Links.Where<Link>(L => L.Parent_Id == id).ToList<Link>();
        <!--
        <div>
            @foreach (Link l in links)
            {
                @l.Child_Id @l.Child_table<br />

            }
        </div>
        -->
        ds.Dispose();
    }


    /// Добавляет сведения о капитале
    async void AddCapital(string company_id)
    {
        Database_structure ds = new Database_structure();

        Capital c_new = new Capital();
        c_new.Id_company = company_id;
        ds.Capitals.Add(c_new);

        //добавление связки
        Link  lnk = new Link(company_id, c_new.Id); ;
        ds.Links.Add(lnk);

        ds.SaveChanges();
        ds.Dispose();
    }



    async void Delete_capital (string capital_id)
    {
        Database_structure ds = new Database_structure();
        ds.Capitals.Remove(ds.Capitals.Where(i => i.Id == capital_id).Single());
        ds.Links.RemoveRange(ds.Links.Where<Link>(i => i.Parent_Id == capital_id).ToArray());
        ds.SaveChanges();
        ds.Dispose();
    }


    async void  AddInvestitions( string company_id)
    {
        Database_structure ds = new Database_structure();

        Invest i_new = new Invest();
        i_new.Id_company = company_id;
        ds.Investitions.Add(i_new);

        Link lnk = new Link(company_id, i_new.Id); ;
        ds.Links.Add(lnk);

        ds.SaveChanges();
        ds.Dispose();

    }

    async void Delete_Investitions(string invest_id)
    {
        Database_structure ds = new Database_structure();
        ds.Investitions.Remove(ds.Investitions.Where(i => i.Id == invest_id).Single());
        ds.Links.RemoveRange(ds.Links.Where<Link>(i => i.Parent_Id == invest_id).ToArray());


        ds.SaveChanges();
        ds.Dispose();
    }

    //AddDeal(id)
    /// Добавляет сделку
    async void Add_Deal (string company_id)
    {
        Database_structure ds = new Database_structure();

        Deal i_new = new Deal();
        i_new.Id_company = company_id;
        ds.Deals.Add(i_new);

        Link  lnk = new Link(company_id, i_new.Id); ;
        ds.Links.Add(lnk);

        ds.SaveChanges();
        ds.Dispose();
    }

    async void Delete_Deal(string _id)
    {
        Database_structure ds = new Database_structure();
        ds.Deals.Remove(ds.Deals.Where(i => i.Id == _id).Single());
        ds.Links.RemoveRange(ds.Links.Where<Link>(i => i.Parent_Id == _id).ToArray());
        ds.SaveChanges();
        ds.Dispose();
    }

    //AddDeal(id)
    /// Добавляет документа
    async void Add_Document(string company_id)
    {
        Database_structure ds = new Database_structure();

        Document i_new = new Document();
        string Child_id = i_new.Id;
        ds.Documents.Add(i_new);

        Link lnk = new Link(company_id, Child_id); ;
        ds.Links.Add(lnk);

        ds.SaveChanges();
        ds.Dispose();
    }


    async void Delete_Document (string _id)
    {
        Database_structure ds = new Database_structure();
        ds.Documents.Remove(ds.Documents.Where(i => i.Id == _id).Single());
        ds.Links.RemoveRange(ds.Links.Where<Link>(i => i.Parent_Id == _id).ToArray());
        ds.SaveChanges();
        ds.Dispose();
    }



    /// Показ любой таблицы
    async void Show_Table (string company_id, string table_name)
    {
        string id = company_id;

        if (table_name == "Capitals")
        {
                <div class="Header">
                Уставный капитал
                </div>
                <div class="Control">
                     <Button class="button" title="Добавляет размер уставного капитал" @onclick="(e=>{ AddCapital(id); })"> Добавить капитал </Button>
                </div>


                Database_structure ds = new Database_structure();
                List<Capital> list_of_capital = ds.Capitals.Where<Capital>(C => C.Id_company == company_id).ToList<Capital>();
                
                Comparison<Capital> x_comp = new Comparison<Capital>(delegate (Capital x, Capital y) { return (x.Id.CompareTo(y.Id)); });
                list_of_capital.Sort(x_comp);

                ds.Dispose();

                string table = "Capitals";
                List<string> NameX = new List<string > ();
                NameX.Add("Sum");
                NameX.Add("Date");

            
                @foreach (Capital c in list_of_capital)
                {
                    string tmp_date = "";

                    if (c.Date.HasValue)
                    { 
                    tmp_date= c.Date.Value.ToString(__DATE_MASK);
                    }

                <div class="card">
                    <input type="number" value="@c.Sum"     @onchange="(e=> {  Set_value(NameX[0], c.Id.ToString(), e.Value.ToString() , e,null, table); })">
                    <input type="date"  value="@tmp_date"    @onchange="(e=> {  Set_value(NameX[1], c.Id.ToString(), e.Value.ToString() , e,null, table); })" />
                    <button class="delete_button" title="Удалить запись @c.Sum @c.Date" @onclick="(e=> {Delete_capital(c.Id.ToString()) ;} )">-</button>
                </div>
                } //foreach
         
        }

        if (table_name == "Investitions")
        {
            <div class="Header">
               Инвестиции
            </div>
            <div class="Control">
                <Button class="button" title="Добавляет размер вложенных инвестиций" @onclick="(e=>{ AddInvestitions(id); })">Добавить инвестицию</Button>
            </div>


            Database_structure ds = new Database_structure();
            List<Invest> list_of_Investitions = ds.Investitions.Where<Invest>(c => c.Id_company == company_id).ToList();
            Comparison<Invest> x_comp = new Comparison<Invest>(delegate (Invest x, Invest y) { return (x.Id.CompareTo(y.Id)); });
            list_of_Investitions.Sort(x_comp);

            ds.Dispose();

            string table = "Investitions";
            List<string> NameX = new List<string>();
            NameX.Add("Method");
            NameX.Add("Source");


            @foreach (Invest c in list_of_Investitions)
            {
                <div class="card">
                    <input type="text" value="@c.Method" @onchange="(e=> {  Set_value(NameX[0], c.Id.ToString(), e.Value.ToString() , e,null, table); })">
                    <textarea class="card_editor" type="text" rows="2" value="@c.Source" @onchange="(e=> {  Set_value(NameX[1], c.Id.ToString(), e.Value.ToString() , e,null, table); })" />
                    <button class="delete_button" title="Удалить запись @c.Method @c.Source" @onclick="(e=> { Delete_Investitions(c.Id.ToString()) ;} )">-</button>
                 </div>
            }   //foreach
        }

        //Deals
        if (table_name == "Deals")
        {
            <div class="Header">
                Сделки
            </div>

            <div class="Control">
                <Button class="button" title="Добавляет список сделок" @onclick="(e=>{ Add_Deal(id); })">Добавить сделку</Button>
            </div>


            Database_structure ds = new Database_structure();
            List<Deal> list_of_Deals = ds.Deals.Where<Deal>(c => c.Id_company == company_id).ToList();
            Comparison<Deal> x_comp = new Comparison<Deal>(delegate (Deal x, Deal y) { return (x.Id.CompareTo(y.Id)); });
            list_of_Deals.Sort(x_comp);

            ds.Dispose();

            string table = "Deals";
            List<string> NameX = new List<string>();
            NameX.Add("Date");
            NameX.Add("Description");


            @foreach (Deal c in list_of_Deals)
            {
                string tmp_date = "";

                if (c.Date.HasValue)
                {
                    tmp_date = c.Date.Value.ToString(__DATE_MASK);
                }

                 <div class="card">
                    <input type="date" value="@tmp_date" @onchange="(e=> {  Set_value(NameX[0], c.Id.ToString(), e.Value.ToString() , e,null, table); })">
                    <textarea class="card_editor" type="text" rows="2" value="@c.Description" @onchange="(e=> {  Set_value(NameX[1], c.Id.ToString(), e.Value.ToString() , e,null, table); })" />
                    <button class="delete_button" title="Удалить запись @c.Date @c.Description" @onclick="(e=> { Delete_Deal(c.Id.ToString()) ;} )">-</button>

                </div>
            }       //foreach
        }


        //Deals
        if (table_name == "Documents")
        {
            <div class="Header">
                Документы
            </div>
            <div class="Control">
                <Button class="button" title="Добавляет документ" @onclick="(e=>{ Add_Document (id); })">+Документ</Button>
            </div>


            Database_structure ds = new Database_structure();
            List<Document> list_of_docs = new List<Document>();
            foreach (Link l in ds.Links.Where<Link>(i => i.Parent_Id == company_id).ToList<Link>())
                {  list_of_docs.AddRange( ds.Documents.Where<Document>(c => c.Id == l.Child_Id  ).ToArray<Document>()); }


            Comparison<Document> x_comp = new Comparison<Document>(delegate (Document x, Document y) { return (x.Id.CompareTo(y.Id)); });
            list_of_docs.Sort(x_comp);

            ds.Dispose();

            string table = table_name;
            List<string> NameX = new List<string>();

            NameX.Add("Num");
            NameX.Add("Date");
            NameX.Add("Name");
            NameX.Add("Url");

            @foreach (Document c in list_of_docs)
            {
                string tmp_date = "";
                tmp_date = c.Date.ToString(__DATE_MASK);

                <div class="card">
                    <input  type="text" value="@c.Num"       @onchange="(e=> {  Set_value(NameX[0], c.Id.ToString(), e.Value.ToString() , e,null, table); })">
                    <input  type="date" value="@tmp_date"    @onchange="(e=> {  Set_value(NameX[1], c.Id.ToString(), e.Value.ToString() , e,null, table); })">
                    <textarea class="card_editor" type="text" rows="2" value="@c.Name" @onchange="(e=> {  Set_value(NameX[2], c.Id.ToString(), e.Value.ToString() , e,null, table); })" />
                    <input  type="url" value="@c.Url"       @onchange="(e=> {  Set_value(NameX[3], c.Id.ToString(), e.Value.ToString() , e,null, table); })" />
                    <button class="delete_button" title="Удалить запись @c.Num @tmp_date" @onclick="(e=> { Delete_Document(c.Id.ToString()) ;} )">-</button>
                </div>
            }       //foreach
        }


    }


   // --- Загрузка  данных ---
    Database_structure db_index = new Database_structure();
    List<Company> list_of_companies = null;
    Console.Write("Отображение редактора ...");

    if ((query_string != "") && (query_string.Length > 0)  )
    {
        list_of_companies = new List<Company>();
        list_of_companies.Clear();

        foreach (Company c in db_index.Companies.ToList<Company>())
        {
            string t = c.Inn + c.Name + c.Address + c.KPP + c.Description + c.Fact_Address;
            if (t.IndexOf(query_string, StringComparison.OrdinalIgnoreCase) > -1)
            {
                list_of_companies.Add(c);
            }
        }
    }
    else
    {
        list_of_companies = db_index.Companies.ToList<Company>(  );
    }

    Comparison<Company> x_comp = new Comparison<Company>(delegate( Company x, Company y) { return (x.Id.CompareTo(y.Id)); });
    list_of_companies.Sort(x_comp);
    db_index.Dispose();

}

<div class="Search">
Поиск компаний  <input class="search_string" title="Поисковая строка" type="text" @bind-value=query_string @bind-value:event="oninput" />
</div>


<div class="Header">
Список компаний в базе данных
</div>

<div class="Control">
<!--- делаем через лябмду - иначе кнопка запускается автоматом -->
    <button class="button" @onclick="(e)=>{  Add_company(null); }">Добавить компанию </button>
    Тестовая инфа: @Company_id
</div>
<br />

<!-- компании -->
<div class="scroll">
    <div style="height:300px;  background:#00000068 ; ">
        <!-- вывод списка -->
        
        @foreach (Company c in list_of_companies)
                {
                    ShowRowEditor_company(c); 
                }
        @{
            Console.WriteLine("Оk ...");
            GC.Collect()          ;
        }
    </div>
</div>


<br/>

    <div class="menu">
            <div class="menu_header">
                <button class="button" onclick=""> Данные о фирме</button>
                <button class="button"> Данные о об учредителях</button>
            </div>

            <div id="menu_about_firm">
                    <div class="Header"> Связанные данные для
                        @{
                            // показ имени связанной строики
                            if (Company_id != "")
                            {
                                db_index = new Database_structure();
                                Company selected = db_index.Companies.Where(i => i.Id == Company_id).Single();
                                db_index.Dispose();
                                @("«" + selected.Name +" | ИНН"+ selected.Inn +"»")
                            }
                        }
                    </div>

                <div class="card_layout">
                     <div>
                            @if (Company_id != null)
                            {
                                Show_Linx(Company_id);
                            }
                     </div>

                    <div style="Сard" >
                           @{
                                if (Company_id != null)
                                {
                                    if (Company_id!="")
                                        Show_Table(Company_id, "Capitals");
                                }
                            }
                    </div>

                     <div style="Card">
                            @{
                                if (Company_id != null)
                                {
                                    if (Company_id != "")
                                        Show_Table(Company_id, "Investitions");
                                }
                            }
                     </div>


                    <div style="Card">
                        @{
                            if (Company_id != null)
                            {
                                if (Company_id != "")
                                        Show_Table(Company_id, "Deals");
                            }
                        }
                    </div>

                    <div style="Card">
                        @{
                            if (Company_id != null)
                            {
                                if (Company_id != "")
                                    Show_Table(Company_id, "Documents");
                            }
                        }
                    </div>
                </div>
        </div>
</div>

<script>
function Menu(item)
{
   var menu_about_firm = document.getElementsById("menu_about_firm");
   var menu_holders_firm = document.getElementsById("menu_holders_firm");
   
   menu_about_firm.style.display = 'none';
   menu_holders_firm.style.display = 'none';

   document.getElementsById(item).style.display='visible';

}

</script>

<!--- ВЕБ МОРДА ЗАКОНЧИЛАСЬ --->




@code{

    /// <summary>
    /// Удаление компании
    /// </summary>
    /// <param name="id"></param>
    /// <param name="dbx"></param>
    /// <returns></returns>
    static public EventCallback Delete_company(string id, Database_structure? dbx)
    {

        Database_structure db = null;

        if (dbx != null)
        { db = dbx; }
        else
        { db = new Database_structure(); }
        try
        {
            Company c = db.Companies.Where<Company>(i => i.Id == id).Single<Company>();
            Console.Write($"Удаляем запись {c.Name} {c.Id}");
            db.Companies.Remove(c);
            db.SaveChanges();
            Console.WriteLine($" успешно...");
        }
        catch (Exception ex)
        {

            Console.WriteLine($"Удаление id= {id} " + ex.Message        );
        }

        //чистим память если автономно
        if (dbx == null)
        { db.Dispose(); }


        return (new EventCallback());
    }

    /// <summary>
    /// ДОбавление новыой компании
    /// </summary>
    /// <param name="dbx"></param>
    /// <returns></returns>
    static public EventCallback Add_company(Database_structure? dbx)
    {

        Database_structure db = null;

        if (dbx != null)
        { db = dbx; }
        else
        { db = new Database_structure(); }


        Company c = new Company();
        c.Name = "???";
        db.Companies.Add(c);
        db.SaveChanges();

        //чистим память если автономно
        if (dbx == null)
        { db.Dispose(); }

        return (new EventCallback());

    }


    /// <summary>
    /// Установка значений в таблицах
    /// </summary>
    /// <param name="name"></param>
    /// <param name="id"></param>
    /// <param name="value"></param>
    /// <param name="e"></param>
    /// <param name="dbx"></param>
    /// <param name="table_name"></param>
    /// <returns></returns>
    static public  EventCallback Set_value(string name, string id, string value, ChangeEventArgs? e, Database_structure? dbx , string table_name )// (object sender, ChangeEventArgs e)//(string name, string id)
    {

        Database_structure db = null;

        if (dbx != null)
        { db = dbx; }
        else
        { db = new Database_structure(); }

        if (table_name == "Companies")
        {
            Console.WriteLine($"Установка значения {name} id={id}: {value}");

            var t = db.Companies.Where<Company>(i => i.Id == id).Single<Company>();

            Console.WriteLine($"Установка значения - {t.Id} {t.Name}: {t.Description} {t.KPP} {t.Address} {t.Fact_Address} {t.Founded} {t.Inn}");

            try
            {
                if (name == "Name")
                { t.Name = e.Value.ToString(); }
                if (name == "Founded")
                { t.Founded = DateTime.Parse(e.Value.ToString()).ToUniversalTime(); }
                if (name == "Address")
                { t.Address = e.Value.ToString(); }
                if (name == "Fact_Address")
                { t.Fact_Address = e.Value.ToString(); }
                if (name == "Description")
                { t.Description = e.Value.ToString(); }
                if (name == "Inn")
                { t.Inn = e.Value.ToString(); }
                if (name == "KPP")
                { t.KPP = e.Value.ToString(); }

                db.Update<Company>(t);
                db.SaveChanges();


            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.InnerException.Message);
            }
        } // Comapnies



        if (table_name == "Capitals")
        {
            Console.WriteLine($"Установка значения {name} id={id}: {value}");

            var t = db.Capitals.Where<Capital>(i => i.Id == id).Single<Capital>();

            Console.WriteLine($"Установка значения -> ");

            try
            {
               
                if (name == "Date")
                    { t.Date = DateTime.Parse(e.Value.ToString()).ToUniversalTime();  }
                if (name == "Sum")
                    { t.Sum = float.Parse(e.Value.ToString()); }
                
                db.Update<Capital>(t);
                db.SaveChanges();


            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.InnerException.Message);
            }
        } // Capitals


        if (table_name == "Investitions")
        {
            Console.WriteLine($"Установка значения {name} id={id}: {value}");

            var t = db.Investitions.Where<Invest>(i => i.Id == id).Single<Invest>();

            Console.WriteLine($"Установка значения -> ");

            try
            {

                if (name == "Method")
                { t.Method = e.Value.ToString() ; }
                if (name == "Source")
                { t.Source= e.Value.ToString(); }

                db.Update<Invest>(t);
                db.SaveChanges();


            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.InnerException.Message);
            }
        } // Capitals


        if (table_name == "Capitals")
        {
            Console.WriteLine($"Установка значения {name} id={id}: {value}");

            var t = db.Capitals.Where<Capital>(i => i.Id == id).Single<Capital>();

            Console.WriteLine($"Установка значения -> ");

            try
            {

                if (name == "Date")
                { t.Date = DateTime.Parse(e.Value.ToString()).ToUniversalTime(); }
                if (name == "Sum")
                { t.Sum = float.Parse(e.Value.ToString()); }

                db.Update<Capital>(t);
                db.SaveChanges();


            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.InnerException.Message);
            }
        } // Capitals


        if (table_name == "Deals")
        {
            Console.WriteLine($"Установка значения {name} id={id}: {value}");

            var t = db.Deals.Where<Deal>(i => i.Id == id).Single();

            Console.WriteLine($"Установка значения -> ");

            try
            {

                if (name == "Date")
                    { t.Date = DateTime.Parse( e.Value.ToString()).ToUniversalTime(); }

                                
                if (name == "Description")
                { t.Description = e.Value.ToString(); }

                db.Update<Deal>(t);
                db.SaveChanges();


            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.InnerException.Message);
            }
        } // Сделки


        if (table_name == "Documents")
        {
            Console.WriteLine($"Установка значения {name} id={id}: {value}");

            var t = db.Documents.Where<Document>(i => i.Id == id).Single();

            Console.WriteLine($"Установка значения -> ");

            try
            {

                if (name == "Date")
                { t.Date = DateTime.Parse(e.Value.ToString()).ToUniversalTime(); }


                if (name == "Name")
                { t.Name = e.Value.ToString(); }
                
                if (name == "Num")
                { t.Num = e.Value.ToString(); }

                if (name == "Url")
                { t.Url = e.Value.ToString(); }

                db.Update<Document>(t);
                db.SaveChanges();


            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                Console.WriteLine(ex.InnerException.Message);
            }
        } // Документы


        //чистим память если автономно
        if (dbx == null)
        { db.Dispose(); }
        EventCallback evc = new EventCallback();
        return (evc);
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        


}
